<div class="news-skeleton-page" aria-busy="true" aria-label="A carregar a notícia">
  <div class="news-skeleton-page__hero">
    <div class="news-skeleton-page__hero-header">
      <div class="news-skeleton-page__fab news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__fab news-skeleton-page--shimmer"></div>
    </div>
    <div class="news-skeleton-page__hero-footer">
      <div class="news-skeleton-page__progress">
        <div class="news-skeleton-page__progress-bar news-skeleton-page--shimmer"></div>
      </div>
      <div class="news-skeleton-page__hero-curve"></div>
    </div>
  </div>
  <div class="news-skeleton-page__panel">
    <div class="news-skeleton-page__xp-tag news-skeleton-page--shimmer"></div>
    <div class="news-skeleton-page__title-line news-skeleton-page--shimmer"></div>
    <div class="news-skeleton-page__title-line news-skeleton-page__title-line--short news-skeleton-page--shimmer"></div>
    <div class="news-skeleton-page__desc">
      <div class="news-skeleton-page__line news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__line news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__line news-skeleton-page__line--narrow news-skeleton-page--shimmer"></div>
    </div>
    <div class="news-skeleton-page__meta-row">
      <div class="news-skeleton-page__chip news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__chip news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__chip news-skeleton-page__chip--sm news-skeleton-page--shimmer"></div>
    </div>
    <div class="news-skeleton-page__author-row">
      <div class="news-skeleton-page__avatar news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__name news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__follow news-skeleton-page--shimmer"></div>
    </div>
    <div class="news-skeleton-page__actions-row">
      <div class="news-skeleton-page__action news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__action news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__action news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__action news-skeleton-page--shimmer"></div>
    </div>
    <div class="news-skeleton-page__body-block">
      <div class="news-skeleton-page__line news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__line news-skeleton-page--shimmer"></div>
      <div class="news-skeleton-page__line news-skeleton-page__line--narrow news-skeleton-page--shimmer"></div>
    </div>
  </div>
</div>
