<div *ngIf="newsDestaque" class="container" [style.backgroundImage]="`url('${this.newsDestaque.image}')`"
  [routerLink]="['/noticias', newsDestaque.categorySlug, newsDestaque.slug]">
  <div class="header">
    <span class="exp">+10 XP</span>
    <div class="options"></div>
    <img src="assets/vector.svg" alt="">
  </div>

  <div class="content">
    <div class="details">
      <img src="assets/play.svg" alt="" srcset="" *ngIf="newsDestaque.onlyVideo">
      <span class="tag">{{ tagLabel | decodeHtmlEntities }}</span>
      <span class="reading-time">{{newsDestaque.readingTime}} Min Leitura</span>
      <span
        *ngIf="newsDestaque.viewed && newsDestaque.type !== 'anuncio'"
        class="viewed-hint"
        role="status"
        title="Você já leu esta notícia"
        >Lido</span>
    </div>
    <h1 class="title">{{ newsDestaque.title | decodeHtmlEntities }}</h1>
    <div class="author">
      <img [src]="newsDestaque.author.avatarUrl" alt=" foto do author">
      <span class="name">{{newsDestaque.author.name}}</span>
    </div>
  </div>

  <div class="footer">

  </div>
</div>