<div class="container">
  <div class="header">
    <span class="exp">+10 XP</span>
    <div class="options"></div>
    <img src="assets/vector.svg" alt="">
  </div>

  <div class="content">
    <div>
      <span class="tag">Comportamento</span>
      <span class="reading-time">20 Min Leitura</span>
    </div>
    <h1 class="title">Por que a nossa voz soa tão diferente em gravações?</h1>
    <div class="author">
      <img src="assets/profile-author.jpg" alt="foto do author">
      <span class="name">Fabiana Borges</span>
    </div>
  </div>

  <div class="footer">

  </div>
</div>
