<div class="container">
  <div class="button-container" routerLink="/home" [class.selected]="currentPath.includes('home')">
    <img [src]="currentPath.includes('home') ? 'assets/home-filled.svg' : 'assets/home.svg'" alt="">
    <span>inicio</span>
  </div>
  <div class="button-container button-radius-right" [class.selected]="currentPath.includes('discovery')">
    <img src="assets/search.svg" alt="">
    <span>descubra</span>
  </div>
  <div class="container-center">
    <div class="button-center">
      <img src="assets/qrcode.svg" alt="">
    </div>
  </div>
  <div class="button-container button-radius-left" routerLink="/favorites"
    [class.selected]="currentPath.includes('favorites')">
    <img [src]="currentPath.includes('favorites') ? 'assets/bookmark-filled.svg' : 'assets/bookmark.svg'" alt="">
    <span>biblioteca</span>
  </div>
  <div class="button-container" routerLink="/profile" [class.selected]="currentPath.includes('profile')">
    <img class="profile" referrerpolicy="no-referrer" [src]="photoURL || 'assets/profile.svg'" alt="">
    <span>perfil</span>
  </div>
</div>